.my-projects-section-bg-con{
    min-height: 100vh;
    width: 100vw;
    padding-left: 6%;
    padding-right: 6%;
    box-sizing: border-box;
    padding-top: 5%;
}

.my-projects-hea{
    margin-bottom: 30px;
}

.pagination-con{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: end;
    
}

.paginations-btn-con{
    height: 100%;
    width: 8%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;
}

.less-btn{
    height: 40px;
    width: 40px;
    background-color: transparent;
    outline: none;
    border: 1px solid whitesmoke;
    display:flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.greate-btn{
    height: 40px;
    width: 40px;
    background-color: transparent;
    outline: none;
    border: 1px solid whitesmoke;
    cursor: pointer;  
}
.icon{
    font-size: 20px;
    color: rgb(186, 185, 185);
}

.project-img-con{
    height: 90%;
    width: 100%;
}
.project-img{
    height: 100%;
    width: 100%;
}

@media screen and (max-width:768px){
    .pagination-con{
        justify-content: center;
        height: 5vh;
    }
    .paginations-btn-con{
        width: 20%;
        margin-bottom: 30px;
    }
}
@media screen and (max-width:400px){
    .pagination-con{
        justify-content: center;
        height: 5vh;
    }
    .paginations-btn-con{
        width: 30%;
    }
}