
  /**************/
.hero-bg-con{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-left: 6%;
    padding-right: 6%;
}


.hero-content-section{
    width:50%;
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
}

.hero-img-section{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-img-con{
    width:70%;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
  }
  
.hero-img{
    border-radius: 50%;
    height:300px;
    width: 300px;
}

.name-span{
    font-size: 46px;
    color: #fffffff0;
}

.hero-p{
    font-size:16px;
    line-height: 30px;
    color: #e6e5e5;
    width: 70%;
    letter-spacing: 2px;
}



.h1 {
    font-size: 40px;
    color: rgb(189, 212, 239);
    text-align: left;
    font-family: Lato, sans-serif;
    font-weight: 700;
    margin: 0px;
    line-height: 50px;
    letter-spacing: 1.5px;
}

.span-dev{
    font-size: 30px;
    color: rgb(189, 212, 239);
}

span{
  color: rgb(0, 132, 255);
  font-size: 30px;
}




/***************  links buttons containers **********************/

.home-links-con{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
  .resume-btn{
    height: 50px;
    width: 140px;
    font-size: 15px;
    border-radius: 30px;
    color: #ebebeb;
    background-color: transparent;
    padding-top: 15px;
    padding-left: 40px;
    border:1px solid rgb(0, 132, 255);
}

a{
 text-decoration: none;
}
.round-btns-con{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2px;
    width: 150px;
    margin-left: 20px;
}
.button-round{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: transparent;
    border:1px solid rgb(0, 132, 255); 
}

.btn-icon{
    font-size: 16px;
    margin-top: 4px;
    color: #969292;
    color: rgb(229, 230, 230);
    margin-top: 11px;
    margin-left: 11px;
}

/* link button animation */
.button-round {
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .button-round:hover {
    border-color: #00ffef;
    box-shadow: 0 0 10px #00bfff, 0 0 20px #00aeff, 0 0 30px #00aeff, 0 0 40px #00a6ff;
    transition: all 0.3s ease-in-out;
  }
  
  .resume-btn {
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .resume-btn:hover {
    border-color: #00ffef;
    box-shadow: 0 0 10px #00bfff, 0 0 20px #00aeff, 0 0 30px #00aeff, 0 0 40px #00a6ff;
    transition: all 0.3s ease-in-out;
  }
  


/* ---------- writing animation effect for Roles -------- */

@keyframes clippath {
    0%,
    100% {
        clip-path: inset(0 0 98% 0);
    }
    
    25% {
        clip-path: inset(0 98% 0 0);
    }
    50% {
        clip-path: inset(98% 0 0 0);
    }
    75% {
        clip-path: inset(0 0 0 98%);
    }
  }
  
  .bg::before {
    background: rgba(255, 215, 0, .5);
  }



@keyframes typing {
  0.0000%, 27.3488% { content: ""; }
  1.1395%, 26.2093% { content: "F"; }
  2.2791%, 25.0698% { content: "Fr"; }
  3.4186%, 23.9302% { content: "Fro"; }
  4.5581%, 22.7907% { content: "Fron"; }
  5.6977%, 21.6512% { content: "Front"; }
  6.8372%, 20.5116% { content: "Fronte"; }
  7.9767%, 19.3721% { content: "Fronten"; }
  8.9767%, 19.3721% { content: "Frontend"; }


  30.7674%, 51.2791% { content: ""; }
  31.9070%, 50.1395% { content: "B"; }
  33.0465%, 49.0000% { content: "Ba"; }
  34.1860%, 47.8605% { content: "Bac"; }
  35.3256%, 46.7209% { content: "Back"; }
  36.4651%, 45.5814% { content: "Backen"; }
  37.6047%, 44.4419% { content: "Backend"; }

  54.6977%, 75.2093% { content: ""; }
  55.8372%, 74.0698% { content: "F"; }
  56.9767%, 72.9302% { content: "Fu"; }
  58.1163%, 71.7907% { content: "Ful"; }
  59.2558%, 70.6512% { content: "Full"; }
  60.3953%, 69.5116% { content: "FullS"; }
  61.5349%, 68.3721% { content: "FullSt"; }
  62.2558%, 70.6512% { content: "FullSta"; }
  63.3953%, 69.5116% { content: "FullStac"; }
  64.5349%, 68.3721% { content: "FullStack"; }

}


@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.typewriter {
  --caret: currentcolor;
}

.typewriter::before {
  content: "";
  animation: typing 13.5s infinite;
}

.typewriter::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}

.typewriter.thick::after {
  border-right: 1ch solid var(--caret);
}

.typewriter.nocaret::after {
  border-right: 0;
}


@media (prefers-reduced-motion) {
  .typewriter::after {
    animation: none;
  }
  
  @keyframes sequencePopup {
    0%, 100% { content: "developer"; }
    25% { content: "writer"; }
    50% { content: "reader"; }
    75% { content: "human"; }
  }

  .typewriter::before {
    content: "developer";
    animation: sequencePopup 12s linear infinite;
  }
}
/*  ------- type writer end ------ */


 /* ------- starting media querie from here ------- */
  

  
  
@media screen and (max-width:767px){
    .hero-bg-con{
        flex-direction: column;
        align-items: center;
    }
    .hero-content-section{
        height: 60%;
        width: 100%;
    }
    .hero-img-section{
        height: 40%;
        width: 100%;
    }
    .hero-img{
        height: 200px;
    }
  }
  @media screen and (min-width:576px) and (max-width:767px){
    .hero-bg-con{
        flex-direction: column;
        align-items: center;
    }
    .hero-content-section{
        padding: 0px;
        width: 90%;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 16vh;
    }
    .hero-img-section{
        width: 100%;
        margin-top: 0px;   
    }
    .name-span{
        font-size: 40px;

    }
    .h1{
        text-align: center;
    }
    .hero-p{
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 0px;
        text-align: center;
        width: 100%;
    } 
    .hero-img-con{
        height: 80%;
        width: 60%;
    } 
    .home-links-con{
        display: flex;
        justify-content: center;
    }
    .btn-icon{
        margin-left: 4px;
    }
    .resume-btn{
        padding-left: 0px;
    }
 

}

@media screen and (min-width:401px) and (max-width:576px){
    .hero-content-section{
        padding: 0px;
        width: 90%;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 10vh;
    }
    .name-span{
        font-size: 35px;
        line-height: 35px;
    }
    .h1{
        text-align: center;
        font-size: 25px;
    }
    .span-dev{
        font-size: 25px;
    }
    .hero-p{
        font-size: 13px;
        line-height: 23px;
        margin-bottom: 0px;
        margin-top: 5px;
        text-align: center;
        width: 100%;
      }
  

    .hero-img-con{
        width: 60%;
        height: 80%;
        padding: 0px;
      }

      .hero-img{
        height: 190px;
        width: 200px;
    }
      .btn-icon{
        margin-left: 4px;
    }
    .resume-btn{
        padding-left: 0px;
    }
    .hero-img-con{
        width: 50%;
        height: 90%;
    }
  
  }

  @media screen and (min-width:301px) and (max-width:576px){
    .hero-bg-con{
        flex-direction: column;
        align-items: center;
    }
    .hero-content-section{
        margin-top: 5vh;
    }
    .hero-img-section{
        height: 50%;
        width: 100%;
        margin-top: 0px;   
    }
    .name-span{
        font-size: 35px;
        line-height: 35px;
    }
    .h1{
        text-align: center;
        font-size: 25px;
        line-height: 35px;
    }
    .span-dev{
        font-size: 25px;
    }
    .hero-p{
        font-size: 13px;
        line-height: 23px;
        margin-top: 20px;
        width: 100%;
        text-align: center;

    }  
      
    .hero-img-con{
        width: 100%;
        height: 80%;
    }
    .hero-img{
        height: 190px;
        width: 200px;
    }
    .btn-icon{
        margin-left: 5px;
    }
    .resume-btn{
       height: 40px;
       padding-top: 14px;
       width: 80px;
       font-size: 10px;
       border-radius: 15px;
       padding-left:10px;

    }
    .home-links-con{
        margin-left: 18%;
    }
    .hero-img-con{
        width: 70%;
        height: 80%;
    }

}
@media screen and (min-width:201px) and (max-width:300px){  
    .hero-content-section{
        margin-top: 20%;
    }
    .name-span{
        font-size: 35px;
        line-height: 35px;
    }
    .h1{
        text-align: center;
        font-size: 25px;
        line-height: 35px;
    }
    .span-dev{
        font-size: 25px;
    }
    .hero-p{
        font-size: 13px;
        line-height: 23px;
        margin-top: 20px;
        width: 100%;
        text-align: center;

    }  
      
    .hero-img-con{
        width: 100%;
        height: 50%;
    }
    .hero-img{
        height: 190px;
        width: 150px;
    }
    .btn-icon{
        margin-left: 12px;
    }
    .resume-btn{
       height: 40px;
       padding-top: 14px;
       width: 80px;
       font-size: 10px;
       border-radius: 15px;
       padding-left:23px;

    }
    .home-links-con{
        margin-left: 18%;
    }
    .hero-img-con{
        width: 70%;
        height: 80%;
    }

   
   
  
  }
  
  @media screen and (max-width:200px){
     
    .hero-content-section{
        padding-top: 10%;
    }
    .hero-hea{
        font-size:15px;
        line-height: 20px;
    }
     
    .name-hea{
        font-size: 26px;
    }

    .hero-p{
        font-size: 9px;
        line-height: 14px;
        margin-bottom: 0px;
      }
    .hero-img-con{
        width: 90%;
        height: 80%;
    }


}
  

@media screen and (min-width:768px) and (max-width:992px){
    .hero-bg-con{
        padding: 5%;
    }
    .hero-img-section{
        padding: 0px;
    }
      
    .hero-p{
        line-height: 20px;
        margin-bottom: 0px;
        font-size:13px;
        width: 90%;
    }
     
    .hero-img-con{
        width: 95%;
    }

    .hero-img{
      
    }

    .name-span{
        font-size: 35px;
    }
    span{
        font-size: 25px;
    }
    .h1{
        font-size: 30px;
        line-height: 39px;
    }
    .span-dev{
        font-size: 30px;
    }
   
   
  }

@media screen and (min-width:992px) and (max-width:1200px){
    .hero-bg-con{
        padding: 5%;
    }

    .hero-img-con{
        width: 90%;
    }

    .hero-p{
        line-height: 26px;
        margin-bottom: 0px;
        font-size: 15px;
        width: 80%;
        margin-bottom: 30px;
    }

  }

