
.glowing-btn {
    position: relative;
    color: #4deaff;
    cursor: pointer;
    padding:5px ;
    border: 0.15em solid #4deaff;
    border-radius: 0.45em;
    background: none;
    perspective: 2em;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing:1em ;
    align-self: flex-start;
    margin-top: 20px;
  
    -webkit-box-shadow: inset 0px 0px 0.5em 0px #4deaff,
      0px 0px 0.5em 0px #4deaff;
    -moz-box-shadow: inset 0px 0px 0.5em 0px #4deaff,
      0px 0px 0.5em 0px #4deaff;
    box-shadow: inset 0px 0px 0.5em 0px #4deaff,
      0px 0px 0.5em 0px #4deaff;
    animation: border-flicker 2s linear infinite;
  }
  
  .glowing-txt {
    float: left;
    margin-right: -0.8em;
    -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
      0 0 0.45em #4deaff;
    -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
      0 0 0.45em #4deaff;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em #4deaff;
    animation: text-flicker 3s linear infinite;
  }
  
  .faulty-letter {
    opacity: 0.5;
    animation: faulty-flicker 2s linear infinite;
  }
  
  .glowing-btn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    filter: blur(1em);
    transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
    background: #4deaff;
    pointer-events: none;
  }
  
  .glowing-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: #4deaff;
    box-shadow: 0 0 2em 0.2em #4deaff;
    transition: opacity 100ms linear;
  }
  
  .glowing-btn:hover {
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    animation: none;
  }
  
  .glowing-btn:hover .spaning-txt {
    animation: none;
  }
  
  .glowing-btn:hover .faulty-letter {
    animation: none;
    text-shadow: none;
    opacity: 1;
  }
  
  .glowing-btn:hover:before {
    filter: blur(1.5em);
    opacity: 1;
  }
  
  .glowing-btn:hover:after {
    opacity: 1;
  }
  
  @keyframes faulty-flicker {
    0% {
      opacity: 0.1;
    }
    2% {
      opacity: 0.1;
    }
    4% {
      opacity: 0.5;
    }
    19% {
      opacity: 0.5;
    }
    21% {
      opacity: 0.1;
    }
    23% {
      opacity: 1;
    }
    80% {
      opacity: 0.5;
    }
    83% {
      opacity: 0.4;
    }
  
    87% {
      opacity: 1;
    }
  }
  
  @keyframes text-flicker {
    0% {
      opacity: 0.1;
    }
  
    2% {
      opacity: 1;
    }
  
    8% {
      opacity: 0.1;
    }
  
    9% {
      opacity: 1;
    }
  
    12% {
      opacity: 0.1;
    }
    20% {
      opacity: 1;
    }
    25% {
      opacity: 0.3;
    }
    30% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.7;
    }
    72% {
      opacity: 0.2;
    }
  
    77% {
      opacity: 0.9;
    }
    100% {
      opacity: 0.9;
    }
  }
  
  @keyframes border-flicker {
    0% {
      opacity: 0.1;
    }
    2% {
      opacity: 1;
    }
    4% {
      opacity: 0.1;
    }
  
    8% {
      opacity: 1;
    }
    70% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }
  
  @media  screen and (max-width: 600px) {
    .spaning-btn{
      font-size: 1em;
    }
  }
  
  
  /*----------------------------*/
  
  
  /**************/
  .hero-bg-con{
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      padding-left: 6%;
      padding-right: 6%;
  }
  
  .hero-hea{
      font-size: 35px;
      margin-bottom: 10px;
      line-height: 60px;
  
  }
  
  .span{
      font-size: 80px;    
      background: linear-gradient(to right, #0044ff , rgb(7, 240, 240)); 
      -webkit-background-clip: text; 
      -webkit-text-fill-color: transparent;
  }
  
  
  .hero-p{
      font-size: 26px;
      line-height: 37px;
  }
  .hero-content-section{
      width:50%;
      height: 100%;
      display: flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
  }
  
  .hero-img-section{
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction:column ;
      align-items: center;
      justify-content: center;
  
  }
  .hero-img-con{
      display: flex;
      width: 70%;
      height: 70%;
      padding-top: 10%;
      background-color: transparent;
  }
  .hero-img{
      height: 100%;
      width: 100%;
      border-radius: 20px;
  }
  .tec-round-con{
      padding: 6px;
      height: 59px;
      width: 59px;
      display: flex;
      flex-direction:column ;
      align-items: center;
      justify-content: center;
      align-self: flex-end;
      margin-right: 20px;
      border: 1px solid rgb(230, 228, 228);
      border-radius: 20px;
  }
  
  .technology-img{
      height: 50px;
      width: 50px;
  }
  .technology-img:hover{
      height: 60px;
      width: 60px;
  }
  .tech-logoes-con{
      display: flex;
      margin-top: 20px;
     width: 100%;
      padding-left: 25%;
  
  }
  
  @media screen and (max-width:200px){
     
      .hero-hea{
          font-size:15px;
          line-height: 20px;
  
      }
      .hero-content-section{
      padding-top: 10%;
      }
      .span{
          font-size: 26px;
      }
      .hero-p{
          font-size: 9px;
          line-height: 14px;
          margin-bottom: 0px;
  
      }
      .hero-img-con{
          width: 90%;
          height: 80%;
      }
       .hero-img{
          width: 70%;
          height: 100%;
          margin-left: 0px;
       }
      .tec-round-con{
          padding: 1px;
          height: 25px;
          width: 25px;
          border-radius: 5px;
      }
      .technology-img{
          height: 80%;
          width: 80%;
      }
      .tech-logoes-con{
          margin-top: 1%;
      }
      .glowing-btn{
        font-size: 10px;
        font-weight: 100;
        letter-spacing: 7px;
        padding: 5px;
    }}
  @media screen and (min-width:201px) and (max-width:300px){  
      .hero-content-section{
          margin-top: 20%;
      }
      .hero-hea{
          font-size: 18px;
          line-height: 25px;
          margin-top: 10%;
          margin-right: 4px;
          margin-left: 4px;
      }
      .span{
          font-size: 42px;
          line-height: 48px;
      }
      .hero-p{
          font-size: 14px;
          line-height: 18px;
          margin-bottom: 0px;
          margin-top: 0px;
      }
      .hero-img-con{
          width: 100%;
          height: 80%;
      }
       .hero-img{
          width: 73%;
          height: 100%;
          margin-left: 0px;
       }
      .tec-round-con{
          padding: 1px;
          height: 37px;
          width: 37px;
          border-radius: 9px;
      }
      .technology-img{
          height: 80%;
          width: 80%;
      }
      .tech-logoes-con{
          margin-top: 1%;
      }
      .glowing-btn{
          font-size: 10px;
          font-weight: 100;
          letter-spacing: 7px;
          padding: 10px;
      }
  
  }
  
  @media screen and (min-width:301px) and (max-width:400px){
      .hero-content-section{
          margin-top: 0px;
      }
      .hero-hea{
          font-size: 20px;
          line-height: 26px;
          margin-top: 35%;
      }
      .span{
          font-size: 38px;
          line-height: 45px;
      }
      .hero-p{
          font-size: 14px;
          line-height: 23px;
          margin-top: 0px;
      }
      .hero-bg-con{
          flex-direction: column;
          align-items: center;
      }
  
     
      .hero-img-section{
          height: 50%;
          width: 100%;
          margin-top: 0px;   
      }
      
      .hero-img-con{
          width: 100%;
          height: 80%;
      }
       .hero-img{
          width: 73%;
          height: 100%;
          margin-left: 0px;
       }
      .tec-round-con{
          padding: 1px;
          height: 43px;
          width: 43px;
          border-radius: 9px;
      }
      .technology-img{
          height: 80%;
          width: 80%;
      }
      .tech-logoes-con{
          margin-top: 2%;
      }
     
      .glowing-btn{
        margin-top: 0px;
      }
  }
  @media screen and (min-width:401px) and (max-width:575px){
      .hero-hea{
          font-size: 23px;
          line-height: 30px;
          margin-top:9%;
      }
      .hero-content-section{
        padding: 20px;
      }
      .span{
         font-size: 44px;
         text-align: center;
         margin-right: 20px;
         margin-left: 20px;
      }
      .hero-p{
          font-size: 19px;
          line-height: 23px;
          margin-bottom: 0px;
          margin-top: 5px;
          text-align: center;
      }
  
      .hero-content-section{
          padding: 0px;
          width: 90%;
          display: flex;
          flex-direction: column;
          text-align: center;
          padding-top: 0px;
      }
      .hero-img-con{
          width: 100%;
          height: 80%;
          padding: 0px;
      }
      .hero-img{
        height: 100%;
        margin-top: 0px;
      }
      .hero-img{
          width:70%;
          height: 39vh;
      }
      .tec-round-con{
          height: 50px;
          width: 50px;
          border-radius: 14px;
      }
      .hero-img-con{
          padding-left: 3%;
      }
      .tech-logoes-con{
          margin-top: 4px;
          margin-left: ;
          width: 100%;
      }
  
  }
  
  @media screen and (max-width:767px){
      .hero-bg-con{
          flex-direction: column;
          align-items: center;
          padding: 1%;
      }
      .hero-content-section{
          height: 50%;
          width: 100%;
      }
      .hero-img-section{
          height: 50%;
          width: 100%;
      }
      .glowing-btn{
          font-size: 15px;
          align-self: center;
      }
  }
  @media screen and (min-width:576px) and (max-width:767px){
      .hero-hea{
          font-size: 25px;
          line-height: 35px;
          margin-top: 18%;
      }
      .span{
          font-size: 50px;
          line-height: 66px;
      }
      .hero-p{
          font-size: 19px;
          line-height: 30px;
          margin-bottom: 0px;
      }
      .hero-bg-con{
          flex-direction: column;
          align-items: center;
      }
      .hero-content-section{
          padding: 0px;
          width: 90%;
          display: flex;
          flex-direction: column;
          text-align: center;
          padding-top: 0px;
      }
      .hero-img-section{
          width: 100%;
          margin-top: 0px;      
      }
      .hero-img-con{
          height: 80%;
          width: 60%;
      }
  
      .technology-img{
          height:90%;
          width: 90%;
      }
      .tec-round-con{
          border-radius: 10px;
          height: 56px;
          width: 55px;
          padding: 0px;
      }
      .tech-logoes-con{
          margin-top: 5px;
      }
  
  
  }
  @media screen and (min-width:768px) and (max-width:991px){
      .hero-hea{
          font-size: 30px;
          line-height:50px;
      }
      .span{
          font-size: 69px;
      }
      .hero-p{
          line-height: 27px;
          margin-bottom: 0px;
          font-family:bree serif;
          font-size: 20px;
      }
     
      .hero-img{
          width:35vw;
          height: 55vh;
      }
      .technology-img{
          height: 60px;
          width: 65px;
      }
      .tec-round-con{
          border-radius: 10px;
      }
      .tech-logoes-con{
          margin-top: 12px;
      }
      .hero-bg-con{
          padding: 5%;
      }
      .hero-img-section{
        padding: 0px;
      }
      .hero-img-con{
        width: 95%;
      }
      .hero-img{
        width: 76%;
        height: 100%;
      }
  
  
  }
  @media screen and (min-width:992px) and (max-width:1200px){
     
      .hero-hea{
          font-size: 30px;
          line-height:50px;
      }
      .span{
          font-size: 69px;
      }
      .hero-p{
          line-height: 27px;
          margin-bottom: 0px;
          font-family:bree serif;
          font-size: 20px;
      }
     
      .hero-img{
          width:35vw;
          height: 55vh;
      }
      .technology-img{
          height: 60px;
          width: 65px;
      }
      .tec-round-con{
          border-radius: 10px;
      }
      .tech-logoes-con{
          margin-top: 12px;
      }
      .hero-bg-con{
          padding: 5%;
      }
  
  
  }
  